body {
  background-color: rgb(229, 230, 221);
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}
.poster {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: rgb(64, 34, 184);
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

#headt {
  border: 5px solid rgb(177, 12, 98);
  width: 100%;
}
